################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/Debug/net5.0
**/obj
**/.vs/
**/ServiceDependencies/
*.csproj.user
**/bin/
.vs/CIS174Fall2023/v17/.wsuo
.vs/VSWorkspaceState.json
